.button
{
    padding: 2px 8px;
    font-weight: bold;
}

.button-style-default
{
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    background: transparent;
}

.button-style-red
{
    border: 1px solid var(--color-red);
    color: var(--color-red);
    background: transparent;
}