.unitcardpreview
{
    border: 1px solid var(--color-gray);
    padding: .25rem;

    margin-top: .25rem;
    margin-bottom: .25rem;

    display: grid;
    grid-template-columns: 1fr auto auto;
}

.unitcardpreview:hover
{
    border-color: black;
}