.dialogframe
{
    position: absolute;

    max-width: 600px;
    width: 100%;

    border: 1px solid var(--color-gray);
    padding: .25rem;

    background: white;

    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-75%);
}